@charset "UTF-8";
/* CSS Document */
a:link{color:white;}
a:visited{color:white;}
a{text-decoration:none;}


* {
    padding: 0px;
    margin: 0px
}

html {
/*	
    background-color: black;
*/
    background: url(../images/tigerprofile.jpg) no-repeat top right;
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Andale Mono", Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

h1{
	color: turquoise;
	font-style: italic;
	font-weight: bold;
    text-align: left;
}

h2.serverdetails{
	color: white;
	font-style: normal;
}

th{
	color: orange;
	font-size: 26px;
	font-style: italic;
}

input, button{
    font-size: 100%;
}

select, option{
    font-size: 100%;
    width: 100%;
    height: 100%;

    border: 0px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;

    /*
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    */
}

textarea {
    color: white;
    border:1px solid black;
    font-size: 100%;
}

div.transbox {
    width: 600px;
    margin: 30px 50px;
    background-color: #323232;
    border: 5px solid black;
    opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */

    /* for rounded corners */
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

table tr td:empty {
    width: 50px;
}

table tr td {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }